*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
      /* NAVBAAR START */
#header{
    width: 100%;
    background-color: transparent !important;
}
#nav-div{
width: 75%;
background-color: transparent !important;
background: #ffffff !important;
box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
border-radius: 5px !important;
padding: 5px 8px !important;
}
#nav-div a {
    color: blue !important;
}
button{
    border: none !important;
    outline:  none !important;
    background-color:  transparent !important;
    background-color:  #5b8dfd !important;
    color:  white !important;
    width: auto !important;
    margin: 0 !important;
}
.arrow{
    width: 100% !important;
}
.arrow button{
    width: 35% !important;
    height: 8vh !important;
    border-radius: 20px !important;
}